<footer class="site-footer">

  {% if page.comments %}
  <div class="wrapper">
    <div class="comments">

        <script type="text/javascript">
        var disqus_shortname = 'anmaia';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'anmaia';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>

  {% endif %}

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{site.github_username}}" title="" onclick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'Github']);" target="_blank">
              <i class="fa fa-github"></i>
              <span class="username">{{site.github_username}}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{site.twitter_username}}" title="" onclick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'Twitter']);" target="_blank">
              <i class="fa fa-twitter"></i>
              <span class="username">{{site.twitter_username}}</span>
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" title="Meu perfil profissional" onclick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'LinkedIn']);" target="_blank">
              <i class="fa fa-linkedin-square"></i>
              <span class="username">linkedin</span>
            </a>
          </li>
          {% endif %}

          {% if site.goodreads_username %}
          <li>
            <a href="http://www.goodreads.com/user/show/{{site.goodreads_username}}" id="sidebar-github" title="O que eu gosto de ler está aqui." onclick="_gaq.push(['_trackEvent', 'Social Icons', 'Click', 'Goodreads']);" target="_blank">
              <i class="fa fa-bookmark"></i>
              <span class="username">goodreads</span>
            </a>
          </li>
          {% endif %}

          {% if site.stackoverflow_username %}
          <li>
            <a href="http://pt.stackoverflow.com/users/6588/{{site.stackoverflow_username}}" id="sidebar-stackoverflow" class="icon-comments" title="Minhas contribuições ao StackOverflow" target="_blank">
              <i class="fa fa-stack-overflow"></i>
              <span class="username">profile</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
