h1 {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
    color: $text-color;
    font-weight: 400;
    // margin-top: 3em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    line-height: 1.2;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: $brand-color;
    background-position: center center;
    background-size: cover !important;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.display_title {
    color: $brand-color;
    display: block;
    height: 64px;
    line-height: 64px;
    padding-left: 1em;
    padding-right: 1em;
    word-break: break-word;
    vertical-align: middle;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 1em;
    font-size: 1em;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
}


.trigger {
    text-align: center;
    margin: 20px;
    font-size: 1.3em;
}

.trigger > a {
    color: $brand-color;
    padding: 10px;
    text-decoration: none;
}

.trigger > a:hover {
    text-decoration: none;
    color: $brand-color;
    background-color: $brand-color-alpha;
    padding: 10px;
}


.trigger > hr {
    border: 0;
    height: 2px;
    width: 25%;
    margin-left: 37.5%;
    margin-top: 20px; 
    background-color: $brand-color;
    text-align: center;
}

.posts{
    // list-style: none;
    margin-left: 0;
}


.posts > li > a {
    text-decoration: none;
}

.posts > li > a > div {
    margin:10px;
}

.title {
    width: 78%;
    display: inline-block;
}

.date {
    float: right;
    font-size: 0.8em;
    width: 20%;
    display: inline-block;
    text-align: right;
}